# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 2b46801bbd7b8f6e0b7f7834331efbe3997e9c37a3053cdbedd55b7a920282848bde0577f9cdf0c18c733f0dbf733d0e70438d151cb9d319817cfecee2f393ec

test:
  secret_key_base: 1c087b093ad0a7c2bfd94c9bc8b529ea423da61a650dcf7914f1a6a0d7aa8e59bcb4a02ae0bf2befaa7476bdfcf99552cfe7d75a1c4af974ea17d661b5bf2faf

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
